@charset "UTF-8";
/*字體*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tenor+Sans&display=swap");
.partners {
  background: linear-gradient(180deg, #D5DEE1 0%, #9AA2A8 100%);
  padding-bottom: 30rem;
}
@media (min-width: 768px) {
  .partners {
    padding-bottom: 21rem;
  }
}
.partners .partnersPhoto {
  position: relative;
}
.partners .partnersPhoto .partnersBanner {
  position: relative;
  min-width: 100%;
  height: 140vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (min-width: 768px) {
  .partners .partnersPhoto .partnersBanner {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    height: auto;
  }
}
.partners .partnersTheme {
  position: relative;
  bottom: 0;
  margin-top: -18rem;
}
.partners .partnersTheme img {
  max-width: 90%;
}
.partners .partnersTheme .partners_slogan {
  position: absolute;
  right: 0;
}
.partners .partnersTheme .title {
  padding-top: 5rem;
}
.partners .partnersTheme h3 {
  font-family: "Inter", sans-serif;
  font-size: 3.5rem;
  color: #fff;
  font-weight: 400;
}
@media (min-width: 768px) {
  .partners .partnersTheme h3 {
    font-size: 6rem;
  }
}
.partners .partnersTheme p {
  background: linear-gradient(to right, white 0%, white 50%, transparent 100%);
  font-family: "Noto Sans", sans-serif;
  color: #595757;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  max-width: 655px;
  padding: 1rem;
}
@media (min-width: 768px) {
  .partners .partnersTheme p {
    padding: 1rem 4rem;
  }
}
.partners .partnersGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.partners .partnersGroup .partnersElement {
  max-width: 230px;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .partners .partnersGroup .partnersElement {
    margin: 1rem 5rem;
  }
}
.partners .partnersGroup .partnersElement h4 {
  color: #004632;
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 0.5rem;
}
.partners .partnersGroup .partnersElement p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #595757;
}

.responsibility {
  background: linear-gradient(180deg, #004632, #001A12);
  position: relative;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.responsibility .container {
  max-width: 1280px;
}
.responsibility h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}
.responsibility h4 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 5px;
}
.responsibility .responsibility-swiper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 350px;
}
.responsibility .responsibility-swiper h4 {
  padding: 2rem 0 0 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.responsibility .responsibility-swiper p {
  margin: 0.8rem auto;
  font-size: 0.8rem;
  max-width: 35rem;
  color: #fff;
}
.responsibility .swiper {
  margin-top: 2rem;
  padding-bottom: 4rem;
}
.responsibility .swiper-slide-active p {
  background: linear-gradient(to right, rgba(0, 102, 51, 0) 0%, rgba(255, 197, 0, 0.5) 20%, rgba(255, 197, 0, 0.5) 80%, rgba(0, 102, 51, 0) 100%);
  padding: 1rem 2rem;
}
.responsibility .swiper-button-prev,
.responsibility .swiper-button-next {
  color: #fff;
}

.values {
  background: #D5DEE1;
  padding-bottom: 21rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.values h3 {
  padding-top: 2rem;
  color: #004632;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.values h4 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.values .actionGroup {
  padding-top: 2rem;
  padding-bottom: 10rem;
}
@media (min-width: 768px) {
  .values .actionGroup {
    padding-bottom: 1rem;
  }
}
.values .action {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.values .action:nth-child(even) {
  flex-direction: column;
}
@media (min-width: 768px) {
  .values .action {
    flex-direction: row;
  }
  .values .action:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: end;
  }
  .values .action:nth-child(even) .actionText {
    background: linear-gradient(90deg, #FFF, rgba(0, 0, 0, 0));
  }
}
.values .action .actionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #FFF);
}
.values .action .actionText h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #004632;
  font-size: 1.1rem;
  text-align: left;
}
.values .action .actionText h4 span {
  display: block;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}
.values .action .actionText p {
  color: #595757;
  font-size: 0.7rem;
}

.clean .cleanBanner {
  position: relative;
}
.clean .cleanBanner .cleanBanner_bg {
  width: 100%;
}
.clean .cleanBanner .cleanBanner_gray {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
}
.clean .garment {
  background: linear-gradient(180deg, #A3ABB0, #D4DCDF);
  text-align: center;
  letter-spacing: 1px;
}
.clean .garment .container {
  max-width: 95%;
}
@media (min-width: 768px) {
  .clean .garment .container {
    max-width: 650px;
  }
}
.clean .garment h3 {
  color: #004632;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.clean .garment h4 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 768px) {
  .clean .garment h4 {
    font-size: 4.5rem;
  }
}
.clean .garment p {
  font-size: 0.8rem;
  color: #595757;
  text-align: justify;
}
.clean .garment p .en {
  font-family: "Inter", sans-serif;
}
.clean .garment .cleanIcon {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clean .garment .cleanIcon img {
  max-width: 55px;
}
@media (min-width: 768px) {
  .clean .garment .cleanIcon img {
    max-width: 65px;
  }
}
.clean .garment .wash {
  text-align: left;
  padding-bottom: 35rem;
}
@media (min-width: 768px) {
  .clean .garment .wash {
    padding-bottom: 30rem;
  }
}
.clean .garment .wash h5 {
  color: #004632;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.clean .garment .wash h5 span {
  padding-top: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
}
.clean .garment .wash p {
  color: #595757;
  font-size: 0.8rem;
}
.clean .garment .wash ol {
  padding-left: 1rem;
}
.clean .garment .wash ol li {
  color: #595757;
  font-size: 0.8rem;
}

.YearinReview {
  position: relative;
}
.YearinReview .year01 {
  background: url("../image/develop/cloth.png") no-repeat top right, linear-gradient(180deg, #D5DEE1, #B3BBC0);
  padding-top: 8rem;
  text-align: center;
}
@media (min-width: 768px) {
  .YearinReview .year01 {
    padding-top: 15rem;
  }
}
.YearinReview .year01 .yearIntroduction {
  max-width: 815px;
  margin: 5rem auto 5rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0) 100%);
}
.YearinReview .year01 .yearIntroduction p {
  padding: 1rem;
  margin-bottom: 0;
  color: #595757;
  text-align: center;
}
.YearinReview .year {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-bottom: 5rem;
  max-width: 700px;
  margin: auto;
  z-index: 10;
  position: relative;
}
.YearinReview .year:nth-child(odd) {
  justify-content: flex-start;
}
.YearinReview .year:nth-child(even) {
  justify-content: flex-end;
}
.YearinReview .year .yearimg {
  border-radius: 50%;
  width: 50%;
}
@media (min-width: 768px) {
  .YearinReview .year .yearimg {
    width: auto;
    position: relative;
    z-index: 10;
  }
}
.YearinReview .year h5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #004632;
  letter-spacing: 3px;
  margin: 0;
}
@media (min-width: 768px) {
  .YearinReview .year h5 {
    font-size: 2.5rem;
  }
}
.YearinReview .year p {
  padding-top: 0;
  color: #004632;
  font-size: 0.8rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .YearinReview .year p {
    width: 160px;
  }
}
.YearinReview .year02 {
  background: linear-gradient(180deg, #CFE9ED, #7EA5A9);
  padding: 5rem 1rem 0;
}
.YearinReview .year02 h5 {
  color: #fff;
}
.YearinReview .year02 p {
  color: #fff;
}
.YearinReview .year03 {
  background: linear-gradient(180deg, #004632, #001A12);
  padding: 5rem 1rem 35rem;
}
@media (min-width: 768px) {
  .YearinReview .year03 {
    padding: 5rem 1rem 15rem;
  }
}
.YearinReview .year03 h5 {
  color: #fff;
}
.YearinReview .year03 p {
  color: #fff;
}
.YearinReview .arrow-left,
.YearinReview .arrow-right {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .YearinReview .arrow-left,
  .YearinReview .arrow-right {
    margin: 0 2rem;
  }
}
.YearinReview .arrow-left {
  transform: rotate(180deg);
}
.YearinReview .circle1 {
  position: absolute;
  top: 45rem;
  right: 0;
  z-index: 9;
  width: 250px;
}
.YearinReview .circle2 {
  position: absolute;
  bottom: 45rem;
  left: 0;
  z-index: 9;
  max-width: 450px;
  min-width: 350px;
}
@media (min-width: 768px) {
  .YearinReview .circle2 {
    width: 450px;
  }
}

.contact {
  background: linear-gradient(180deg, #D5DEE1 0%, #A7AFB4 100%);
  color: #004632;
  padding-top: 80px;
  overflow: hidden;
  position: relative;
}
.contact .circle {
  position: relative;
}
.contact .circle .cloth-w {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  width: 254px;
}
@media (min-width: 768px) {
  .contact .circle .cloth-w {
    top: 0;
    width: auto;
  }
}
.contact .circle .circle1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  max-width: 40%;
}
.contact .circle .circle2 {
  position: absolute;
  right: 0;
  top: 20rem;
  z-index: 1;
  max-width: 40%;
}
.contact .title {
  text-align: center;
  position: relative;
  z-index: 9;
}
.contact h3 {
  padding-top: 3rem;
  color: #004632;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3px;
}
.contact h4 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: "Inter", sans-serif;
  padding-bottom: 5rem;
}
.contact .contactTheme {
  text-align: center;
  flex-direction: column;
  padding-top: 5rem;
  z-index: 9;
}
@media (min-width: 1024px) {
  .contact .contactTheme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
}
.contact .contactTheme .contactPhoto .pic1 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -5rem;
  z-index: 9;
  position: relative;
  margin-right: 10%;
}
@media (min-width: 768px) {
  .contact .contactTheme .contactPhoto .pic1 {
    margin-right: 0;
  }
}
.contact .contactTheme .contactPhoto .pic2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact .contactTheme .contactPhoto .pic2 {
    flex-direction: row;
  }
}
.contact .contactTheme .contactPhoto .pic2 img {
  margin-left: 20%;
}
@media (min-width: 768px) {
  .contact .contactTheme .contactPhoto .pic2 img {
    margin-left: 0;
  }
}
.contact .contactTheme .contactText {
  padding: 1rem 0 3rem;
}
@media (min-width: 1024px) {
  .contact .contactTheme .contactText {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
.contact .contactTheme .contactText p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.contact .contactTheme .contactText .contactInformation {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
@media (min-width: 768px) {
  .contact .contactTheme .contactText .contactInformation {
    padding-left: 2rem;
  }
}
.contact .contactFooter {
  background: url("../image/contact/cloth-w2.png") no-repeat top left;
  background-size: 100%;
  padding-top: 10rem;
  padding-bottom: 8rem;
  margin-top: -10rem;
}
@media (min-width: 768px) {
  .contact .contactFooter {
    padding-top: 25rem;
  }
}
.contact .contactFooter .companyIcon {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .contact .contactFooter .companyIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.contact .contactFooter .companyIcon img {
  width: 80%;
}
@media (min-width: 768px) {
  .contact .contactFooter .companyIcon img {
    width: auto;
  }
}
.contact .contactFooter .companyIcon .nanke {
  max-height: 24px;
  margin-top: 2rem;
}
.contact .contactFooter .nanke {
  margin-right: 20rem;
}
.contact .googleMap {
  position: relative;
}
.contact .googleMap .mapLeft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.application {
  background: linear-gradient(180deg, #D5DEE1, #7C9E98);
  padding-bottom: 30rem;
}
@media (min-width: 768px) {
  .application {
    padding-bottom: 25rem;
  }
}
.application .applicationBanner {
  position: relative;
}
.application .applicationBanner .applicationBanner_bg {
  position: relative;
  height: 150vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .application .applicationBanner .applicationBanner_bg {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    height: auto;
  }
}
.application .applicationBanner .applicationBanner_clothes {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  margin: auto;
}
.application .applicationBanner .applicationBanner_text {
  position: absolute;
  bottom: 18rem;
  left: 1rem;
  max-width: 90%;
}
@media (min-width: 768px) {
  .application .applicationBanner .applicationBanner_text {
    left: 5rem;
  }
}
.application h4 {
  color: #004632;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  padding: 2rem 0 1rem 0;
  line-height: 2rem;
}
.application h4 span {
  font-size: 0.9rem;
  color: #FFF;
  letter-spacing: 1px;
}
.application p {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: justify;
}
@media (min-width: 768px) {
  .application p {
    text-align: center;
  }
}
.application .techItem {
  margin: 2rem 0;
}
.application .techItem img {
  max-width: 90%;
}
.application .techItem .techPhoto {
  position: relative;
  margin: 2rem 0;
}
.application .techItem .techPhoto .techPhoto02 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .application .techItem .techPhoto .techPhoto02 {
    bottom: 2rem;
  }
}
.application .techItem .techItemText {
  padding-left: 2rem;
}
.application .techItem .techItemText p {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: auto;
  text-align: left;
  color: #595757;
  font-family: "Noto Sans TC", sans-serif;
}
.application .techItem .techItemText p .en {
  font-family: "Inter", sans-serif;
}

.bannerTechs {
  position: relative;
  overflow: hidden;
  background: #D5DEE1;
}
.bannerTechs img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding-top: 60px;
}
@media (min-width: 768px) {
  .bannerTechs img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
}
.bannerTechs .techPic1 {
  padding-top: 57px;
}
.bannerTechs .bannerText {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .bannerTechs .bannerText {
    bottom: 8rem;
    flex-direction: row;
  }
}
.bannerTechs .bannerText img {
  max-width: 100%;
}
.bannerTechs .bannerText .b-left {
  max-width: 380px;
  height: auto;
}
.bannerTechs .bannerText .b-right {
  max-width: 300px;
  margin-left: 5rem;
  margin-top: -2rem;
  padding-top: 60px;
  height: auto;
}
@media (min-width: 768px) {
  .bannerTechs .bannerText .b-right {
    max-width: 645px;
    margin-left: 2rem;
    margin-top: -7rem;
    padding-top: 0;
  }
}

.technologies {
  background: linear-gradient(180deg, #D5DEE1 10%, #C8D0D4 100%);
  padding: 5rem 4rem;
}
.technologies .techsTheme {
  text-align: center;
}
.technologies .techsTheme p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: justify;
  color: #fff;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .technologies .techsTheme p {
    text-align: center;
  }
}

.features {
  background: linear-gradient(180deg, #DCE6E8 60%, #90AFA9 100%);
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .features {
    padding-bottom: 8rem;
  }
}
.features .featuresTitle {
  background: url("../image/technolgy/fearures.svg") top right no-repeat;
  background-size: 100%;
  height: 300px;
  margin-top: -1px;
}
@media (min-width: 768px) {
  .features .featuresTitle {
    background: url("../image/technolgy/fearures.svg") bottom right no-repeat;
    background-size: 100%;
  }
}
.features .featuresTitle .adventures {
  margin-left: 20px;
  max-width: 80%;
}
@media (min-width: 768px) {
  .features .featuresTitle .adventures {
    margin-left: 10rem;
  }
}
.features .featuresTitle h4 {
  color: #004632;
  font-size: 2.5rem;
  font-weight: 200;
  padding-top: 4rem;
  letter-spacing: 5px;
}
.features .featuresTitle span {
  display: block;
  font-size: 2.5rem;
  font-weight: 450;
  padding-bottom: 0.5rem;
  letter-spacing: 6px;
}
.features .applicationText {
  justify-content: center;
  max-width: 1100px;
  margin: auto;
}
.features .applicationText .techItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .applicationText .techItem .techItemText {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}
.features .applicationText .techItem .techItemText h5 {
  color: #004632;
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.features .applicationText .techItem .techItemText p {
  color: #9B9B9C;
  font-size: 1rem;
  padding-top: 1rem;
  text-align: center;
  font-weight: 400;
}

.technologiesFooter {
  background: #90AFA9;
  width: 100%;
  padding-bottom: 45vh;
}
@media (min-width: 768px) {
  .technologiesFooter {
    padding-bottom: 0;
  }
}
.technologiesFooter img {
  width: 100%;
  height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .technologiesFooter img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
}

.bannerAbout {
  background: linear-gradient(180deg, #001a12 20%, #004632 30%, #d5dee1 70%);
}
@media (min-width: 768px) {
  .bannerAbout {
    background: linear-gradient(180deg, #001a12 20%, #004632 60%, #d5dee1 100%);
  }
}
.bannerAbout .AboutSlogan {
  position: relative;
  overflow: initial;
  color: #FFF;
}
.bannerAbout .bannerText {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}
.bannerAbout .bannerText .bannerText01 {
  padding-top: 5rem;
  z-index: 10;
  max-width: 96%;
  margin-left: 0;
}
@media (min-width: 768px) {
  .bannerAbout .bannerText .bannerText01 {
    margin-left: 5rem;
  }
}
.bannerAbout .bannerText .bannerText02 {
  padding-top: 3rem;
  margin-left: 0;
  z-index: 10;
  max-width: 96%;
}
@media (min-width: 768px) {
  .bannerAbout .bannerText .bannerText02 {
    margin-left: 75px;
  }
}
.bannerAbout .bannerText .bannerText03 {
  padding-top: 8rem;
  margin-left: 0;
  z-index: 10;
  max-width: 96%;
}
@media (min-width: 768px) {
  .bannerAbout .bannerText .bannerText03 {
    margin-left: 10rem;
  }
}
.bannerAbout .bannerText .bannerText04 {
  position: absolute;
  bottom: 14rem;
  left: 0;
  right: 120px;
  z-index: 10;
  margin: auto;
  padding-left: 10rem;
}
.bannerAbout .bannerText .colth_bg {
  position: absolute;
  z-index: 3;
  top: 8rem;
  right: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .bannerAbout .bannerText .colth_bg {
    top: 18rem;
  }
}
.bannerAbout .bannerText p {
  font-size: 0.8rem;
  padding-top: 1rem;
}

.newtechnology {
  background: #D5DEE1 100%;
  padding: 4rem 0 10rem;
  position: relative;
}
@media (min-width: 768px) {
  .newtechnology {
    background: linear-gradient(90deg, #001A12 7%, #D5DEE1 7%, #D5DEE1 100%);
  }
}
.newtechnology .new-technology {
  align-items: center;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .newtechnology .new-technology {
    padding: 0;
  }
}
.newtechnology .new-technology .overviewItem {
  position: relative;
  z-index: 9;
}
.newtechnology p {
  padding: 0.7rem 0;
  max-width: 430px;
  font-size: 0.9rem;
  margin: auto;
  font-weight: 500;
  text-align: justify;
  line-height: 1.5rem;
  color: #595757;
}
.newtechnology .overviewPhoto {
  padding: 0 2rem 2rem;
}
.newtechnology .overviewPhoto img {
  border-radius: 50%;
}

.AboutBn02 {
  position: absolute;
  bottom: 43rem;
  height: auto;
  width: 100%;
  z-index: 4;
}
@media (min-width: 768px) {
  .AboutBn02 {
    left: 0;
    bottom: 12rem;
  }
}

.AboutBn03 {
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 3;
  display: none;
}
@media (min-width: 768px) {
  .AboutBn03 {
    display: block;
  }
}

.eco {
  background: linear-gradient(180deg, #001a12 20%, #004632 60%, #cfe9ed 95%);
  padding-bottom: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.eco::before {
  content: "";
  position: absolute;
  left: 0;
  top: -98px;
  width: 100%;
  height: 130px;
  background-image: url("../image/about/eco-top.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}
.eco .ecoTop {
  width: 100%;
  margin-top: -10vw;
  position: relative;
  z-index: 2;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .eco .ecoTop {
    margin-top: -125px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
}
.eco .ecoText {
  z-index: 6;
  max-width: 90%;
  padding-top: 10px;
  margin-bottom: 7rem;
}
@media (min-width: 768px) {
  .eco .ecoText {
    margin-bottom: 0;
  }
}
.eco .colth5 {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 13rem;
  left: 0;
}
@media (min-width: 768px) {
  .eco .colth5 {
    top: 150px;
  }
}

.principles {
  background: linear-gradient(180deg, #CFE9ED 0%, #386A6E 100%);
  position: relative;
  padding-bottom: 30rem;
  margin-top: -1px;
}
@media (min-width: 768px) {
  .principles {
    padding-bottom: 20rem;
  }
}
.principles .smallItems {
  display: flex;
  position: absolute;
  top: -30%;
  right: 5%;
  z-index: 9;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .principles .smallItems {
    flex-direction: row;
    align-items: flex-end;
    top: 0;
    right: 15%;
  }
}
.principles .principlesitem {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .principles .principlesitem {
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    margin-top: -2rem;
    margin-bottom: 8rem;
  }
}
.principles .principlesitem .itemText {
  padding-bottom: 3rem;
  padding-left: 0;
}
@media (min-width: 768px) {
  .principles .principlesitem .itemText {
    padding-bottom: 1rem;
    padding-left: 3rem;
  }
}
.principles .principlesitem .itemPhoto {
  padding-bottom: 0;
  text-align: right;
  padding-right: 5rem;
  z-index: 9;
}
.principles .principlesitem .itemPhoto img {
  max-width: 90%;
}
@media (min-width: 768px) {
  .principles .principlesitem .itemPhoto img {
    max-width: 98%;
  }
}
.principles .principlesitem p {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: justify;
  padding-top: 0.5rem;
  max-width: 360px;
  line-height: 1.5rem;
  color: #595757;
}
.principles .colth3 {
  position: relative;
  z-index: 4;
  width: 100%;
  margin-top: -65rem;
  height: 125vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
@media (min-width: 768px) {
  .principles .colth3 {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    height: auto;
    margin-top: -25rem;
  }
}

.product {
  background: #D5DEE1;
  padding-top: 60px;
}
.product .productTop {
  background: url("../image/product/product-bn.png") top right no-repeat;
  background-size: cover;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .product .productTop {
    min-height: 640px;
    background-size: contain;
  }
}
.product .productTopText {
  display: flex;
  flex-direction: column;
}
.product .productTopText img {
  margin-top: 2rem;
  max-width: 100%;
}
.product .productSwiper {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  max-width: 815px;
  margin: auto;
}
.product .productSwiper .product-swiper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 200px;
}
.product .productSwiper .product-swiper h4 {
  padding: 2rem 0 0 0;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.product .productSwiper .product-swiper h4 span {
  display: block;
  font-size: 0.8rem;
}
.product .productSwiper .swiper {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.product .productSwiper .swiper-slide-active p {
  background: linear-gradient(to right, rgba(0, 102, 51, 0) 0%, rgba(255, 197, 0, 0.5) 50%, rgba(0, 102, 51, 0) 100%);
  padding: 1rem 2rem;
}
.product .productSwiper .swiper-button-prev,
.product .productSwiper .swiper-button-next {
  color: #fff;
}
.product .productText p {
  color: #595757;
  font-size: 0.8rem;
  text-align: center;
  padding: 2rem 1rem 0;
}
.product .product2L3L {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 96%;
  margin: auto;
}
@media (min-width: 768px) {
  .product .product2L3L {
    flex-direction: row;
    align-items: flex-start;
    max-width: 900px;
  }
}
.product .product2L3L .product2L {
  max-width: 90%;
  padding-top: 3rem;
}
.product .product2L3L .product3L {
  padding-bottom: 5rem;
  max-width: 90%;
}
.product .product_01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product .product_01 .productPhoto {
  position: relative;
  max-width: 570px;
}
.product .product_01 .productPhoto .productText {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin: auto;
}
.product .product_01 p {
  font-size: 0.8rem;
  color: #595857;
  font-weight: 600;
}
.product .product_01 a {
  display: flex;
}
.product .product_02 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 15rem;
}
.product .product_02 .productPhoto {
  position: relative;
  max-width: 570px;
}
.product .product_02 .productPhoto .productText {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin: auto;
}
.product .product_02 p {
  font-size: 0.8rem;
  color: #595857;
  font-weight: 600;
}
.product .product_03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product .product_03 .productPhoto {
  position: relative;
  max-width: 570px;
}
.product .product_03 .productPhoto .productText {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin: auto;
}
.product .product_03 .gloves {
  padding-left: 20rem;
  margin-top: -4rem;
  z-index: 9;
}
.product .product_03 p {
  font-size: 0.8rem;
  color: #595857;
  font-weight: 600;
}
.product .product_03 a {
  display: flex;
}
.product .product_04 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 15rem;
}
.product .product_04 .productPhoto {
  position: relative;
  max-width: 570px;
}
.product .product_04 .productPhoto .productText {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
}
.product .product_04 p {
  font-size: 0.8rem;
  color: #595857;
  font-weight: 600;
}

.productSlogan {
  background: #DFE8EA;
  position: relative;
  min-height: 545px;
}
.productSlogan .SloganText {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productSlogan .SloganText .slogan01 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 90%;
}
@media (min-width: 768px) {
  .productSlogan .SloganText .slogan01 {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}
.productSlogan .SloganText .slogan02 {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .productSlogan .SloganText .slogan02 {
    padding-top: 14rem;
  }
}
.productSlogan .SloganText .slogan03 {
  padding-top: 3rem;
  max-width: 90%;
}
.productSlogan .SloganText .SloganText01 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .productSlogan .SloganText .SloganText01 {
    display: flex;
    flex-direction: row;
  }
}
.productSlogan .sloganCloth {
  position: absolute;
  right: 0;
  bottom: -5rem;
  width: 100%;
  z-index: 5;
  height: 120vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .productSlogan .sloganCloth {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    height: auto;
  }
}
.productSlogan .sloganPeople {
  position: absolute;
  right: 5rem;
  bottom: 10rem;
  z-index: 5;
  width: 50px;
}
@media (min-width: 768px) {
  .productSlogan .sloganPeople {
    width: auto;
  }
}

.functionText {
  background: url("../image/product/productBg.svg") top center no-repeat;
  background-size: 450vw;
  min-height: 190px;
  z-index: 9;
  position: relative;
  margin-top: -5rem;
}
@media (min-width: 768px) {
  .functionText {
    background-size: cover;
    background-size: 380vw;
  }
}
.functionText p {
  color: #595757;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 3rem;
  line-height: 1.5rem;
}

.function {
  background: #D5DEE1;
  position: relative;
  z-index: 10;
  padding-bottom: 0rem;
}
@media (min-width: 768px) {
  .function {
    padding-bottom: 5rem;
  }
}
.function .functionGroup .functionSwiper {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
  max-width: 815px;
  margin: auto;
}
.function .functionGroup .functionSwiper .function-swiper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 200px;
}
.function .functionGroup .functionSwiper .function-swiper h4 {
  padding: 2rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #004632;
  text-align: center;
}
.function .functionGroup .functionSwiper .function-swiper p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}
.function .functionGroup .functionSwiper .swiper {
  padding-bottom: 2rem;
}
.function .functionGroup .functionSwiper .swiper-button-prev,
.function .functionGroup .functionSwiper .swiper-button-next {
  color: #fff;
}
.function .functionGroup .slogan04 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  justify-content: center;
}
.function .functionGroup .slogan04 img {
  max-width: 90%;
}
.function .functionGroup .slogan04 p {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  color: #fff;
  padding: 1rem 2rem;
  margin: 2rem 0;
  line-height: 1.8rem;
  text-align: center;
}
@media (min-width: 768px) {
  .function .functionGroup .slogan04 p {
    padding: 2rem 5rem;
  }
}

.productFooter {
  background: #D5DEE1;
  padding-bottom: 20rem;
}
@media (min-width: 768px) {
  .productFooter {
    padding-bottom: 0;
  }
}
.productFooter img {
  width: 100%;
  height: 90vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .productFooter img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    height: auto;
  }
}

.rd {
  background: linear-gradient(180deg, #D5DEE1 60%, #004632 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.rd h3 {
  padding-top: 2rem;
  color: #004632;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.rd h4 {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.rd .rd_bn {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 80px;
}
.rd .rd_bn .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 10rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.rd .rd_bn .text img {
  max-width: 100%;
}
.rd .rd_bn .text .text-w {
  margin-top: 3rem;
}
.rd .rd_bn .circle1 {
  position: absolute;
  right: 0;
  top: -10rem;
  z-index: 0;
  max-width: 55%;
}
.rd .rd_bn .cloth-w {
  position: relative;
  z-index: 1;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .rd .rd_bn .cloth-w {
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
}
.rd .circle {
  position: relative;
}
.rd .circle .circle2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  max-width: 90%;
}
@media (min-width: 768px) {
  .rd .circle .circle2 {
    max-width: 50%;
  }
}
.rd .actionGroup {
  max-width: 980px;
  padding-top: 2rem;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .rd .actionGroup {
    padding-bottom: 1rem;
  }
}
.rd .action {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 90%;
}
.rd .action:nth-child(even) {
  flex-direction: column;
}
@media (min-width: 768px) {
  .rd .action {
    flex-direction: row;
    width: 100%;
    margin: 3rem 0;
  }
  .rd .action:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: end;
  }
}
.rd .action .actionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem 1rem 0.8rem;
  background: #FFF;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  max-height: 133px;
}
@media (min-width: 768px) {
  .rd .action .actionText {
    width: 350px;
  }
}
.rd .action .actionText h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #004632;
  font-size: 1.1rem;
  text-align: left;
  letter-spacing: 1px;
  padding-left: 45px;
  position: relative;
}
.rd .action .actionText h4::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.rd .action .actionText h4 span {
  display: block;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
.rd .action .actionText p {
  color: #595757;
  font-size: 0.7rem;
}
.rd .action:nth-child(1) .actionText h4::after {
  background-image: url("../image/rd/rd_icon_01.png");
}
.rd .action:nth-child(2) .actionText h4::after {
  background-image: url("../image/rd/rd_icon_02.png");
}
.rd .action:nth-child(3) .actionText h4::after {
  background-image: url("../image/rd/rd_icon_03.png");
}
.rd .action:nth-child(4) .actionText h4::after {
  background-image: url("../image/rd/rd_icon_04.png");
}
.rd .rdFooter {
  position: relative;
  overflow: hidden;
}
.rd .rdFooter .clouth1 {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.rd .rdFooter .clouth2 {
  position: absolute;
  right: 0;
  bottom: 8rem;
  z-index: 1;
}
.rd .rdFooter .rdFooter_text {
  background: rgba(255, 255, 255, 0.6);
  color: #595757;
  font-size: 0.8rem;
  padding: 2rem 3rem;
  letter-spacing: 5px;
  position: absolute;
  right: 1rem;
  top: 0;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .rd .rdFooter .rdFooter_text {
    right: 8rem;
    max-width: 337px;
  }
}

/* 針對桌面版進行設定 */
@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* 避免顯示偏移 */
  }
}
body {
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
}

svg,
img {
  transform: translateZ(0);
  backface-visibility: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #FACD00;
}

.navbar-collapse {
  justify-content: space-between;
}

.nav-link {
  color: #004632;
}
.nav-link:focus, .nav-link:hover {
  color: #FACD00;
}

@media (min-width: 768px) {
  .navbar-brand {
    margin-right: 10rem;
  }
}

.dropdown-menu {
  background: #004632;
  border: none;
}

.dropdown-item {
  color: #004632;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #FACD00;
  background-color: transparent;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.languageBox {
  color: #fff;
}
.languageBox a {
  color: #FFF;
  transition: color 0.3s ease;
}
.languageBox a:hover {
  color: #FACD00;
}

#mainNavbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  transition: background-color 0.3s ease;
  background: #004632;
}
#mainNavbar svg {
  fill: #fff;
}
#mainNavbar .cls-1 {
  transition: fill 0.5s ease;
  /* 添加動畫效果 */
}

.navbar {
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item {
  padding: 0 0.5rem;
}
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #FACD00;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  border: none;
}
.navbar-nav .nav-link:hover::after, .navbar-nav .nav-link.focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar-nav .dropdown-menu {
  background-color: #004632;
  transition: background-color 0.3s ease;
}
.navbar-nav .dropdown-menu .dropdown-item {
  position: relative;
  transition: color 0.3s ease;
  color: #fff;
}
.navbar-nav .dropdown-menu .dropdown-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #FACD00;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.navbar-nav .dropdown-menu .dropdown-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.banner {
  background: linear-gradient(180deg, #004632, #001A12);
  position: relative;
  height: 35rem;
  overflow: initial;
}
.banner .eTINPO-bn-w {
  position: absolute;
  max-width: 100%;
  top: 2rem;
  z-index: 4;
  height: 135vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .banner .eTINPO-bn-w {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    height: auto;
    width: 100%;
    top: 3rem;
  }
}
.banner .eTINPO-bn-g {
  position: absolute;
  max-width: 100%;
  top: 10%;
  z-index: 3;
  height: 135vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .banner .eTINPO-bn-g {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    height: auto;
    width: 100%;
  }
}
.banner .bannerTextGroup {
  position: relative;
}
.banner .banner01 {
  position: relative;
  z-index: 2;
}
.banner .banner02 {
  position: relative;
  top: 90px;
  left: 3rem;
  z-index: 10;
}
@media (min-width: 768px) {
  .banner .banner02 {
    position: absolute;
    top: 70px;
    left: 52%;
  }
}
.banner .banner03 {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  right: 3rem;
}
@media (min-width: 768px) {
  .banner .banner03 {
    position: absolute;
    z-index: 10;
    bottom: 5%;
    right: 10%;
  }
}
.bannerProduct {
  background: url("../image/product-bg-100.jpg") right bottom;
  background-size: cover;
}
.bannerProduct .ProductSlogan {
  position: relative;
  overflow: hidden;
  color: #FFF;
  min-height: 45vh;
}
.bannerProduct .ProductSlogan .ProductBn {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -100%;
  width: auto;
}
@media (min-width: 768px) {
  .bannerProduct .ProductSlogan .ProductBn {
    top: 0;
    right: 0;
  }
}
@media (min-width: 1024px) {
  .bannerProduct .ProductSlogan .ProductBn {
    top: 0;
    right: 0;
  }
}
.bannerProduct .bannerText {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .bannerProduct .bannerText {
    margin-left: 5rem;
    margin-bottom: 2rem;
  }
}
.bannerProduct .bannerText p {
  font-size: 0.8rem;
  padding-top: 1rem;
}

.technologyFeature {
  background: linear-gradient(180deg, #D5DEE1 0%, #D5DEE1 70%, #004632 100%);
  position: relative;
}

.feature {
  color: #323232;
  padding: 5rem 3rem 8rem;
}
@media (min-width: 768px) {
  .feature {
    padding: 20rem 0 37rem 0;
  }
}
.feature .container {
  max-width: 980px;
}
.feature .featureTheme {
  max-width: 50rem;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .feature .featureTheme {
    text-align: left;
    margin-top: 0;
  }
}
.feature .featureTheme:nth-child(even) {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .feature .featureTheme:nth-child(even) {
    margin-top: 10rem;
  }
}
.feature .featureTheme .featureText {
  margin-top: 1rem;
}
.feature .featureTheme .featureText h4 {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feature .featureTheme .featureText h4 {
    font-size: 2rem;
  }
}
.feature .featurePhoto img {
  width: 90px;
}
@media (min-width: 768px) {
  .feature .featurePhoto img {
    width: auto;
  }
}
.feature h4 {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #004632;
  font-size: 4rem;
}
@media (min-width: 768px) {
  .feature h4 {
    font-size: 3rem;
  }
}
.feature span {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  color: #004632;
  font-weight: 400;
  font-size: 2rem;
}
.feature p {
  padding-top: 0.1rem;
  text-align: justify;
  font-size: 0.9rem;
  color: #fff;
  letter-spacing: 1px;
}

.featureCloth {
  position: absolute;
  bottom: -13rem;
  width: 100%;
  overflow-x: clip;
}
@media (min-width: 768px) {
  .featureCloth {
    bottom: -22rem;
  }
}
.featureCloth .photo_01 {
  position: absolute;
  max-width: 100%;
  width: 100%;
  transform: scale(1.5);
  transform-origin: center;
  right: 0;
  bottom: -6rem;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 20rem;
}
@media (min-width: 768px) {
  .featureCloth .photo_01 {
    max-width: 90%;
    width: 90%;
    transform: scale(1);
    right: 0;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
}
.featureCloth .photo_02 {
  position: relative;
  width: 100%;
  top: 3rem;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
@media (min-width: 768px) {
  .featureCloth .photo_02 {
    bottom: 0;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
}

.swiper {
  width: 100%;
  padding-top: 2rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 80px;
  height: 80px;
  transition: transform 0.5s, filter 0.5s;
}

.swiper-slide-active .icon {
  transform: scale(1.5);
  filter: grayscale(0);
}

/*     .swiper-slide .icon {
    filter: grayscale(100%);
} */
.swiper-button-prev,
.swiper-button-next {
  width: 10px;
  /* 設定箭頭的寬度 */
  height: 40px;
  /* 設定箭頭的高度 */
  background-size: 100% 100%;
  /* 確保背景圖充滿容器 */
  color: #004632;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}

.technology {
  letter-spacing: 0.1rem;
  text-align: justify;
  padding-bottom: 1rem;
  /*img {
      max-width: 100%;

      @include b768 {
          max-width: 434rem;
      }
  }*/
}
@media (min-width: 768px) {
  .technology {
    padding-top: 15rem;
    padding-bottom: 10rem;
  }
}
.technology .technologyContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  margin: -20rem auto 0;
  max-width: 90%;
}
@media (min-width: 768px) {
  .technology .technologyContent {
    position: absolute;
    top: 15rem;
    flex-direction: row;
    max-width: 80%;
  }
}
.technology .technologyPhoto {
  position: relative;
}
@media (min-width: 768px) {
  .technology .technologyPhoto {
    padding-bottom: 0;
  }
}
.technology .technologyPhoto .photo_01 {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 140vw;
  right: 0;
  top: -10rem;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: none;
}
@media (min-width: 768px) {
  .technology .technologyPhoto .photo_01 {
    display: block;
    position: relative;
    right: 0;
    top: -15rem;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    z-index: 1;
  }
}
.technology .technologyPhoto .photo_02 {
  position: relative;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .technology .technologyPhoto .photo_02 {
    position: absolute;
    left: 0;
    top: 7rem;
    height: auto;
    z-index: 2;
  }
}
.technology .technologyPhoto .technologySlogan {
  position: relative;
  top: 4rem;
  left: 5px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .technology .technologyPhoto .technologySlogan {
    position: absolute;
    align-items: normal;
  }
}
.technology .technologyPhoto .technologySlogan img {
  max-width: 100%;
}
.technology .technologyPhoto .technologySlogan img.technologySvg {
  margin-left: 0;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .technology .technologyPhoto .technologySlogan img.technologySvg {
    margin-left: 160px;
    margin-top: 2rem;
  }
}
.technology .technologyPhoto .technologySlogan img.sloganSvg {
  margin-left: 0;
}
@media (min-width: 768px) {
  .technology .technologyPhoto .technologySlogan img.sloganSvg {
    margin-left: 225px;
  }
}
@media (min-width: 768px) {
  .technology .technologyPhoto .technologySlogan {
    position: relative;
    top: auto;
    left: auto;
  }
}
.technology .technologyText {
  position: relative;
  bottom: 3rem;
  right: 0;
  top: 0;
  background: rgba(255, 194, 0, 0.7);
  max-width: 380px;
  width: 90%;
  margin: 6rem auto 0;
  z-index: 10;
  font-size: 0.8rem;
  text-align: justify;
  padding: 30px 1.5rem;
  color: #fff;
}
@media (min-width: 768px) {
  .technology .technologyText {
    position: relative;
    margin: auto;
    bottom: auto;
    right: auto;
    top: 400px;
    width: 95%;
  }
}
.technology .technologyText h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}
.technology .technologyText h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.technology .technologyText p {
  font-size: 0.9rem;
  font-weight: 500;
}

.homeproduct {
  background: linear-gradient(180deg, #004632 0%, #004632 5%, #D5DEE1 10%, #D5DEE1 100%);
  padding: 0 3rem 30rem;
}
@media (min-width: 768px) {
  .homeproduct {
    padding: 60px 0 25rem;
  }
}
.homeproduct .productPhoto {
  position: relative;
  max-width: 570px;
  text-align: center;
}
.homeproduct .productPhoto img {
  max-width: 90%;
}
.homeproduct .btn {
  transform: scale(1.5);
  width: 120px;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .homeproduct .btn {
    transform: scale(1);
    width: 100px;
    margin-right: 0;
  }
}
.homeproduct a {
  text-align: right;
}
.homeproduct .product_01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.homeproduct .product_01 .productPhoto .productText {
  position: absolute;
  bottom: 5rem;
  top: 7rem;
  left: 0;
  right: 0;
  margin: auto;
}
@media (min-width: 768px) {
  .homeproduct .product_01 .productPhoto .productText {
    top: 0rem;
  }
}
.homeproduct .product_01 p {
  font-size: 0.9rem;
  color: #595857;
  font-weight: 600;
}
.homeproduct .product_02 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5rem;
}
@media (min-width: 768px) {
  .homeproduct .product_02 {
    padding-top: 15rem;
  }
}
.homeproduct .product_02 .productPhoto .productText {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin: auto;
}
.homeproduct .product_02 p {
  font-size: 0.8rem;
  color: #595857;
  font-weight: 600;
}
.homeproduct .product_03 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5rem;
}
@media (min-width: 768px) {
  .homeproduct .product_03 {
    align-items: flex-start;
    padding-top: 0;
  }
}
.homeproduct .product_03 .productPhoto .productText {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin: auto;
}
.homeproduct .product_03 .gloves {
  padding-left: 1rem;
  margin-top: 0rem;
  z-index: 9;
}
@media (min-width: 768px) {
  .homeproduct .product_03 .gloves {
    padding-left: 20rem;
    margin-top: -4rem;
  }
}
.homeproduct .product_03 p {
  font-size: 0.8rem;
  color: #595857;
  font-weight: 600;
  margin-top: 0;
}
.homeproduct .product_04 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5rem;
}
@media (min-width: 768px) {
  .homeproduct .product_04 {
    padding-top: 15rem;
  }
}
.homeproduct .product_04 img {
  max-width: 90%;
}
.homeproduct .product_04 .productPhoto .productText {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
}
.homeproduct .product_04 p {
  font-size: 0.8rem;
  color: #595857;
  font-weight: 600;
}

.partner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: -2rem;
  padding-bottom: 5rem;
  z-index: 10;
}
@media (min-width: 768px) {
  .partner {
    margin-left: 20rem;
    margin-top: -10rem;
  }
}
.partner img {
  margin-bottom: 1rem;
  max-width: 98%;
}
@media (min-width: 768px) {
  .partner img {
    margin-bottom: 1rem;
  }
}
.partner .partnerGroup {
  position: relative;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .partner .partnerGroup {
    padding-top: 0;
  }
}
.partner .partnerGroup .partnerSlogan {
  position: relative;
}
.partner .partnerGroup .partnerSloganEn {
  position: relative;
}
.partner .partnerText {
  background: rgba(255, 194, 0, 0.7);
  max-width: 420px;
  z-index: 10;
  font-size: 0.8rem;
  text-align: justify;
  margin-top: 1rem;
  padding: 30px 1.5rem;
  color: #fff;
}
@media (min-width: 768px) {
  .partner .partnerText {
    margin-top: 2rem;
    margin-left: 50px;
    padding: 30px 15px;
  }
}
.partner .partnerText h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}
.partner .partnerText h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.partner .partnerText p {
  font-size: 0.9rem;
  font-weight: 500;
}

.advantage {
  background: #DADADA;
  padding: 5rem 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .advantage {
    padding: 5rem 0;
  }
}
.advantage h4 {
  color: #004632;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 2rem 0 2rem 0;
}
.advantage h4 span {
  font-size: 1.2rem;
  color: #004632;
  letter-spacing: 1px;
  font-weight: 800;
}
.advantage h4 span.left {
  padding-bottom: 2rem;
  padding-right: 1rem;
}
.advantage h4 span.right {
  padding-top: 2rem;
  padding-left: 1rem;
}
.advantage .featurePhoto img {
  border-radius: 50%;
  max-height: 630px;
}
.advantage .featureItem h5 {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  color: #004632;
  line-height: 2.5rem;
  align-items: center;
}
.advantage .featureItem h5 span {
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  padding-top: 0.5rem;
}
.advantage .featureItem p {
  color: #000;
  font-size: 1rem;
  max-width: 30rem;
  margin: 3rem auto;
}
.advantage .feature-swiper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.advantage .feature-swiper h4 {
  padding: 2rem 0 0 0;
}
.advantage .feature-swiper p {
  margin: 0.8rem auto;
  font-size: 0.8rem;
  max-width: 35rem;
}

.Material {
  background: #C6C6C6;
  padding: 5rem 0;
  position: relative;
}
.Material .col-12 {
  padding: 0;
}
.Material h4 {
  color: #004632;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.8rem;
}
.Material h4 span {
  color: #FFF;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.Material p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 2rem 2rem;
}
@media (min-width: 768px) {
  .Material p {
    padding: 2rem 0;
  }
}
.Material .matFab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 385px;
}
.Material .matFab .fabPhoto {
  position: absolute;
  height: 385px;
  right: 0;
}
@media (min-width: 768px) {
  .Material .matFab .fabPhoto {
    right: 0;
    left: 0;
    margin: auto;
  }
}
.Material .matIconbg {
  max-width: 60rem;
  margin: auto;
}
.Material .matIcon {
  text-align: center;
}
.Material .matIcon p {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}
.Material .arrowicon {
  position: absolute;
  bottom: -15px;
  right: 0;
  left: 0;
  margin: auto;
}

.purpose {
  background: #C6C6C6;
  padding: 8rem 2rem 0;
}
@media (min-width: 768px) {
  .purpose {
    padding-top: 8rem;
  }
}
.purpose h4 {
  color: #004632;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  margin: auto;
}
.purpose h4 span {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
.purpose p {
  padding: 3rem 0;
  max-width: 520px;
  margin: auto;
  font-weight: 500;
}
.purpose .purposeitem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.purpose .purposeitem .img-fluid {
  max-width: 50%;
}
@media (min-width: 768px) {
  .purpose .purposeitem .img-fluid {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .purpose .purposeitem:nth-child(odd) {
    margin-left: 10%;
  }
  .purpose .purposeitem:nth-child(even) {
    margin-right: 10%;
  }
}
.purpose .purposeitem .purposeText {
  margin-left: 2rem;
}
.purpose .purposeitem .purposeText h5 {
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.purpose .purposeitem .purposeText p {
  padding: 0.7rem 0;
  max-width: 290px;
  font-size: 0.9rem;
}
.purpose .purposeitem .purposeBtn button {
  background: #004632;
  color: #fff;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .purpose .purposeitem .purposeBtn button {
    font-size: 1rem;
  }
}
.purpose .purposeitem .purposeBtn button .arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #FACD00;
  /* 定義圖標的顏色 */
  -webkit-mask-image: url("../image/more-arrow.svg");
          mask-image: url("../image/more-arrow.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  z-index: 99;
}
footer .footer {
  background: #004632;
}
footer .footerBg {
  position: absolute;
  top: -21rem;
  width: 100%;
}
footer .footerBg img {
  width: 100%;
}
footer .footerBtn {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  footer .footerBtn {
    padding-bottom: 1rem;
  }
}
footer .footerBtn a {
  padding: 0 0.5rem;
}
footer .footerLocation {
  border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
  footer .footerLocation {
    border: none;
  }
}
footer .footerLink {
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
footer .footerLink a {
  padding-left: 15px;
}
footer .footerLink .socialMedia {
  margin-top: 1rem;
}
footer .copyRight {
  background: #D5DEE1;
  color: #004632;
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */