    /*字體*/
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
    // mixins
    @import 'mixins/breakpoint';
    @import 'mixins/color';

    /* 針對桌面版進行設定 */
    @media (min-width: 992px) {
        .navbar .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
            /* 避免顯示偏移 */
        }
    }

    body {
        font-family: "Noto Sans TC", sans-serif;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $yellow;
        }
    }

    .nav-link {
        color: $green;

        &:focus,
        &:hover {
            color: $yellow;
        }
    }

    .navbar-brand {
        @include b768{
        margin-right: 10rem;
    }
    }

    .dropdown-menu {
        background: transparent;
        border: none;
    }

    .dropdown-item {
        color: $green;

        &:focus,
        &:hover {
            color: $yellow;
            background-color: transparent;
        }

    }
    .navbar-toggler{
        border:none;
        &:focus {
            box-shadow: none;
        }
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    #mainNavbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    .navbar {
        transition: background-color 0.3s ease;
    }

    .navbar-nav {
        .nav-item {

            padding: 0 .5rem;
        }

        .nav-link {
            position: relative;
            transition: color 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background-color: $yellow;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.3s ease;
                border: none;
            }

            &:hover::after,
            &.focus::after {
                // 如果下拉選單打開，保持下底線
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        .dropdown-menu {
            background-color: transparent; // 初始狀態為透明
            transition: background-color 0.3s ease;

            .dropdown-item {
                position: relative;
                transition: color 0.3s ease;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: $yellow;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }

    .banner {
        /*background: url(../image/bn-bg.png);*/
        background: url(../image/bn.png) #efefef;
        position: relative;
        height: 30rem;

        .banner01 {
            position: relative;
        }

        .banner02 {
            position: absolute;
            max-width: 13rem;
            top: 15rem;
            left: 1rem;
            @include b768 {
                position: absolute;
                z-index: 4;
                top: 30%;
                left: 5%;
                max-width: 20rem;
            }
            @include b1024{
                left: 20%;
                max-width: 37rem;
            }
        }

        .banner03 {
            position: absolute;
            max-width: 5rem;
            left: 1rem;
            bottom: 3rem;

            @include b768 {
                position: absolute;
                z-index: 3;
                bottom: 5%;
                left: 70%;
                max-width: 10rem;
            }
            @include b1024{
                left: 70%;
                max-width: 17rem;
            }
        }
    }

    .feature {
        background: #C6C6C6;
        color: #323232;
        padding: 4rem 0;

        .featureTheme {
            max-width: 50rem;
            margin: 3rem auto;
            letter-spacing: 2px;
        }

        .featurePhoto {
            padding-right: 1rem;

            @include b768 {
                padding-right: 3rem;
            }
        }

        h4 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            color: $green;
            font-size: 1.5rem;

            @include b768 {
                font-size: 2rem;
            }
        }

        span {
            color: #FFF;
            font-size: 13px;
            padding-left: 5px;
        }

        p {
            padding-top: .1rem;
            text-align: justify;
            font-size: .8rem;

        }
    }

    .slogan {

        background: url(../image/bg.png) #C6C6C6;
        background-size: cover;
        padding: 4rem 1rem;

        img {
            max-width: 100%;

            @include b768 {
                max-width: 495rem;
            }
        }
    }

    .technology {
        padding: 5rem .1rem;
        letter-spacing: .1rem;
        text-align: justify;

        /*img {
            max-width: 100%;

            @include b768 {
                max-width: 434rem;
            }
        }*/

        .technologyPhoto {
            padding-bottom: 3rem;

            @include b768 {
                padding-bottom: 0;
            }
        }

        .technologyText {
            font-size: .8rem;
            text-align: center;
            @include b768 {
                font-size: 1rem;
                text-align: justify;
            }
        }
    }

    .product {
        background: #DADADA;
        padding: 5rem .1rem;
        letter-spacing: .1rem;
        text-align: center;
        font-size: .8rem;
        @include b768 {
            max-width: 414rem;
            text-align: justify;
            font-size: 1rem;
        }

        /*img {
            max-width: 100%;

            @include b768 {
                max-width: 414rem;
            }
        }*/
    }

    footer {
        background: #9C9C9D;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;

        .footerBtn {
            padding-bottom: 1rem;
            padding-top: 1rem;
            @include b768 {
                padding-bottom: 1rem;
            }
            a {
                padding: 0 .5rem;
            }
        }
        .footerLocation{
            border-bottom: 1px solid #fff;
            @include b768 {
                border: none;
            }
        }

        .footerLink {
            letter-spacing: 2px;
        }

        .copyRight {
            background: $green;
            text-align: center;
            padding: 10px;
            letter-spacing: 1px;
        }

    }