@charset "UTF-8";
/*字體*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* 針對桌面版進行設定 */
@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* 避免顯示偏移 */
  }
}
body {
  font-family: "Noto Sans TC", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #FACD00;
}

.nav-link {
  color: #FFF;
}
.nav-link:focus, .nav-link:hover {
  color: #FACD00;
}

@media (min-width: 768px) {
  .navbar-brand {
    margin-right: 10rem;
  }
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.dropdown-item {
  color: #FFF;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #FACD00;
  background-color: transparent;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#mainNavbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.navbar {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item {
  padding: 0 0.5rem;
}
.navbar-nav .nav-link {
  position: relative;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #FACD00;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border: none;
}
.navbar-nav .nav-link:hover::after, .navbar-nav .nav-link.focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.navbar-nav .dropdown-menu {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.navbar-nav .dropdown-menu .dropdown-item {
  position: relative;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.navbar-nav .dropdown-menu .dropdown-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #FACD00;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.navbar-nav .dropdown-menu .dropdown-item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.banner {
  /*background: url(../image/bn-bg.png);*/
  background: url(../image/bn.png) #efefef;
  position: relative;
  height: 30rem;
}
.banner .banner01 {
  position: relative;
}
.banner .banner02 {
  position: absolute;
  max-width: 13rem;
  top: 15rem;
  left: 1rem;
}
@media (min-width: 768px) {
  .banner .banner02 {
    position: absolute;
    z-index: 4;
    top: 30%;
    left: 5%;
    max-width: 20rem;
  }
}
@media (min-width: 1024px) {
  .banner .banner02 {
    left: 20%;
    max-width: 37rem;
  }
}
.banner .banner03 {
  position: absolute;
  max-width: 5rem;
  left: 1rem;
  bottom: 3rem;
}
@media (min-width: 768px) {
  .banner .banner03 {
    position: absolute;
    z-index: 3;
    bottom: 5%;
    left: 70%;
    max-width: 10rem;
  }
}
@media (min-width: 1024px) {
  .banner .banner03 {
    left: 70%;
    max-width: 17rem;
  }
}

.feature {
  background: #C6C6C6;
  color: #323232;
  padding: 4rem 0;
}
.feature .featureTheme {
  max-width: 50rem;
  margin: 3rem auto;
  letter-spacing: 2px;
}
.feature .featurePhoto {
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .feature .featurePhoto {
    padding-right: 3rem;
  }
}
.feature h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #004E42;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .feature h4 {
    font-size: 2rem;
  }
}
.feature span {
  color: #FFF;
  font-size: 13px;
  padding-left: 5px;
}
.feature p {
  padding-top: 0.1rem;
  text-align: justify;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .feature p {
    font-size: 1rem;
  }
}

.slogan {
  background: url(../image/bg.png) #C6C6C6;
  background-size: cover;
  padding: 4rem 1rem;
}
.slogan img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .slogan img {
    max-width: 495rem;
  }
}

.technology {
  padding: 5rem 0.1rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  /*img {
      max-width: 100%;

      @include b768 {
          max-width: 434rem;
      }
  }*/
}
.technology .technologyPhoto {
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .technology .technologyPhoto {
    padding-bottom: 0;
  }
}
.technology .technologyText {
  font-size: 0.8rem;
  text-align: center;
}
@media (min-width: 768px) {
  .technology .technologyText {
    font-size: 1rem;
    text-align: justify;
  }
}

.product {
  background: #DADADA;
  padding: 5rem 0.1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 0.8rem;
  /*img {
      max-width: 100%;

      @include b768 {
          max-width: 414rem;
      }
  }*/
}
@media (min-width: 768px) {
  .product {
    max-width: 414rem;
    text-align: justify;
    font-size: 1rem;
  }
}

footer {
  background: #9C9C9D;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}
footer .footerBtn {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  footer .footerBtn {
    padding-bottom: 1rem;
  }
}
footer .footerBtn a {
  padding: 0 0.5rem;
}
footer .footerLocation {
  border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
  footer .footerLocation {
    border: none;
  }
}
footer .footerLink {
  letter-spacing: 2px;
}
footer .copyRight {
  background: #004E42;
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */