    /*字體*/
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tenor+Sans&display=swap');
    // mixins
    @import 'mixins/breakpoint';
    @import 'mixins/color';
    // 分頁
    @import 'pages/partners';
    @import 'pages/responsibility';
    @import 'pages/clean';
    @import 'pages/develop';
    @import 'pages/contact';
    @import 'pages/application';
    @import 'pages/technologies';
    @import 'pages/about';
    @import 'pages/product';


    /* 針對桌面版進行設定 */
    @media (min-width: 992px) {
        .navbar .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
            /* 避免顯示偏移 */
        }
    }

    body {
        font-family: "Noto Sans TC", sans-serif;
        position: relative;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $yellow;
        }
    }

    .nav-link {
        color: $green;

        &:focus,
        &:hover {
            color: $yellow;
        }
    }

    .navbar-brand {
        @include b768 {
            margin-right: 10rem;
        }
    }

    .dropdown-menu {
        background: $green;
        border: none;
    }

    .dropdown-item {
        color: $green;

        &:focus,
        &:hover {
            color: $yellow;
            background-color: transparent;
        }

    }

    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none;
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .languageBox {
        color: #fff;

        a {
            color: #FFF;
            transition: color 0.3s ease;

            &:hover {
                color: $yellow;
            }
        }
    }

    #mainNavbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        transition: background-color 0.3s ease;
        background: $green;

        svg {
            fill: #fff;
        }

        .cls-1 {
            transition: fill .5s ease;
            /* 添加動畫效果 */
        }
    }

    .navbar {
        transition: background-color 0.3s ease;
    }

    .navbar-nav {
        .nav-item {

            padding: 0 .5rem;
        }

        .nav-link {
            position: relative;
            transition: color 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background-color: $yellow;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.3s ease;
                border: none;
            }

            &:hover::after,
            &.focus::after {
                // 如果下拉選單打開，保持下底線
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        .dropdown-menu {
            background-color: $green;
            transition: background-color 0.3s ease;

            .dropdown-item {
                position: relative;
                transition: color 0.3s ease;
                color: #fff;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: $yellow;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }

    .banner {
        background: linear-gradient(180deg, #004632, #001A12);
        position: relative;
        height: 30rem;
        overflow: initial;

        .eTINPO-bn-w {
            position: absolute;
            max-width: 100%;
            top: -10%;
            z-index: 4;

            @include b768 {}

            @include b992 {}

        }

        .eTINPO-bn-g {
            position: absolute;
            max-width: 100%;
            top: 5%;
            z-index: 3;

            @include b768 {}

            @include b992 {}

        }

        .bannerTextGroup {
            position: relative;

        }

        .banner01 {
            position: relative;
            z-index: 2;
        }

        .banner02 {
            position: absolute;
            top: 70px;
            left: 52%;
            z-index: 10;
        }

        .banner03 {
            position: absolute;
            z-index: 10;
            bottom: 5%;
            left: 60%;

            @include b768 {}

            @include b1024 {}
        }
    }


    .bannerProduct {
        background: url('../image/product-bg-100.jpg') right bottom;
        background-size: cover;


        .ProductSlogan {
            position: relative;
            overflow: hidden;
            color: #FFF;
            min-height: 45vh;

            .ProductBn {
                overflow: hidden;
                position: absolute;
                top: 0;
                right: -100%;
                width: auto;

                @include b768 {
                    top: 0;
                    right: 0;
                }

                @include b1024 {
                    top: 0;
                    right: 0;
                }
            }
        }

        .bannerText {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            align-items: flex-start;
            position: absolute;
            bottom: 0;
            margin-left: 1rem;
            margin-bottom: 2rem;

            @include b768 {
                margin-left: 5rem;
                margin-bottom: 2rem;
            }

            p {
                font-size: .8rem;
                padding-top: 1rem;
            }
        }
    }


    .technologyFeature {
        background: linear-gradient(180deg, #D5DEE1 0%, #D5DEE1 70%, #004632 100%);
        position: relative;

    }

    .feature {
        color: #323232;
        padding: 4rem 2rem;

        .container {
            max-width: 980px;
        }

        @include b768 {
            padding: 4rem 0 32rem 0;
        }

        .featureTheme {
            max-width: 50rem;
            letter-spacing: 2px;

            &:nth-child(even) {
                margin-top: 10rem;
            }

            .featureText {
                h4 {
                    font-size: 1.2rem;
                    display: flex;
                    flex-direction: column;

                    @include b768 {
                        font-size: 2rem;
                    }
                }
            }
        }

        .featurePhoto {
            img {

                width: 70px;

                @include b768 {

                    width: auto;
                }
            }
        }

        h4 {
            font-family: "Inter", sans-serif;
            font-style: italic;
            font-weight: 500;
            color: $green;
            font-size: 4rem;


            @include b768 {
                font-size: 3rem;
            }
        }

        span {
            font-family: "Noto Sans", sans-serif;
            font-style: normal;
            color: $green;
            font-weight: 400;
            font-size: 2rem;
        }

        p {
            padding-top: .1rem;
            text-align: justify;
            font-size: .7rem;
            color: #fff;
            letter-spacing: 1px;

        }

    }

    .featureCloth {
        position: absolute;
        bottom: -22rem;

        .photo_01 {
            position: absolute;
            max-width: 100%;
            height: auto;
            right: 0;
            bottom: 0rem;
            z-index: 2;
        }

        .photo_02 {
            position: relative;
            max-width: 100%;
            height: auto;
            left: 0;
            bottom: 10rem;
            z-index: 1;
        }
    }

    .swiper {
        width: 100%;
        height: auto;
        padding-top: 2rem;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        width: 80px;
        height: 80px;
        transition: transform 0.5s, filter 0.5s;
    }

    .swiper-slide-active .icon {
        transform: scale(1.5);
        filter: grayscale(0);
    }

    .swiper-slide .icon {
        filter: grayscale(100%);
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 10px;
        /* 設定箭頭的寬度 */
        height: 40px;
        /* 設定箭頭的高度 */
        background-size: 100% 100%;
        /* 確保背景圖充滿容器 */
        color: $green;

        &::after {
            font-size: 20px !important;
        }
    }



    .technology {
        letter-spacing: .1rem;
        text-align: justify;
        padding-bottom: 10rem;

        @include b768 {}

        /*img {
            max-width: 100%;

            @include b768 {
                max-width: 434rem;
            }
        }*/

        .technologyPhoto {
            position: relative;

            @include b768 {
                padding-bottom: 0;
            }

            .photo_01 {
                position: absolute;
                max-width: 100%;
                right: 0;
                top: -10rem;
                z-index: 2;
            }

            .photo_02 {
                position: relative;
                max-width: 100%;
                left: 0;
                top: 10rem;
                z-index: 1;
            }

            .technologySlogan {
                position: absolute;
                top: 14rem;
                left: 15rem;
                z-index: 9;
                display: flex;
                flex-direction: column;
            }
        }


        .technologyText {
            position: absolute;
            bottom: 3rem;
            right: 15rem;
            background: rgba($color: #FFC200, $alpha: 0.7);
            max-width: 380px;
            z-index: 10;
            font-size: .8rem;
            text-align: justify;
            padding: 30px 15px;
            color: #fff;

            h3 {
                font-family: "Inter", sans-serif;
                font-weight: 700;
                padding-bottom: 1rem;
            }

            h4 {
                font-size: 1.1rem;
                font-weight: 600;
            }

            p {
                font-size: .8rem;
                font-weight: 500;
            }


        }
    }

    .homeproduct {
        background: #D5DEE1;
        padding-top: 60px;
        padding-bottom: 25rem;

        .product_01 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .productPhoto {
                position: relative;
                max-width: 570px;

                .productText {
                    position: absolute;
                    bottom: 5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            p {
                font-size: .8rem;
                color: #595857;
                font-weight: 600;

            }

            a {
                display: flex;
            }
        }

        .product_02 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 15rem;

            .productPhoto {
                position: relative;
                max-width: 570px;

                .productText {
                    position: absolute;
                    bottom: 5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            p {
                font-size: .8rem;
                color: #595857;
                font-weight: 600;

            }
        }

        .product_03 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .productPhoto {
                position: relative;
                max-width: 570px;

                .productText {
                    position: absolute;
                    bottom: 5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            .gloves {
                padding-left: 20rem;
                margin-top: -4rem;
                z-index: 9;
            }

            p {
                font-size: .8rem;
                color: #595857;
                font-weight: 600;

            }

            a {
                display: flex;
            }
        }

        .product_04 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 15rem;

            .productPhoto {
                position: relative;
                max-width: 570px;

                .productText {
                    position: absolute;
                    bottom: 2rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            p {
                font-size: .8rem;
                color: #595857;
                font-weight: 600;
            }
        }
    }

    .partner {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 20rem;
        margin-top: -10rem;
        padding-bottom: 5rem;
        z-index: 10;

        img {
            margin-bottom: 1rem;
        }

        .partnerText {
            background: rgba($color: #FFC200, $alpha: 0.7);
            max-width: 420px;
            z-index: 10;
            font-size: .8rem;
            text-align: justify;
            margin-top: 2rem;
            padding: 30px 15px;
            color: #fff;

            h3 {
                font-family: "Inter", sans-serif;
                font-weight: 700;
                padding-bottom: 1rem;
            }

            h4 {
                font-size: 1.1rem;
                font-weight: 600;
            }

            p {
                font-size: .8rem;
                font-weight: 500;
            }

        }
    }


    .advantage {
        background: $gray2;
        padding: 5rem 2rem;
        text-align: center;

        @include b768 {
            padding: 5rem 0;

        }

        h4 {
            color: $green;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            padding: 2rem 0 2rem 0;

            span {
                font-size: 1.2rem;
                color: $green;
                letter-spacing: 1px;
                font-weight: 800;

                &.left {
                    padding-bottom: 2rem;
                    padding-right: 1rem;
                }

                &.right {
                    padding-top: 2rem;
                    padding-left: 1rem;
                }
            }
        }

        .featurePhoto img {
            border-radius: 50%;
            max-height: 630px;
        }

        .featureItem {

            h5 {
                display: flex;
                flex-direction: column;
                font-size: 1.8rem;
                color: $green;
                line-height: 2.5rem;
                align-items: center;

                span {
                    color: #fff;
                    font-size: 1rem;
                    line-height: 1rem;
                    padding-top: .5rem;
                }
            }

            p {
                color: #000;
                font-size: 1rem;
                max-width: 30rem;
                margin: 3rem auto;

            }


        }

        .feature-swiper {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;

            h4 {
                padding: 2rem 0 0 0;
            }

            p {
                margin: .8rem auto;
                font-size: .8rem;
                max-width: 35rem;
            }
        }

    }


    .Material {
        background: $gray;
        padding: 5rem 0;
        position: relative;

        .col-12 {
            padding: 0;
        }

        h4 {
            color: $green;
            display: flex;
            flex-direction: column;
            align-items: center;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 1.8rem;

            span {
                color: #FFF;
                font-size: .8rem;
                font-weight: 400;
                letter-spacing: 1px;

            }
        }

        p {
            font-size: .9rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.5rem;
            padding: 2rem 2rem;

            @include b768 {
                padding: 2rem 0;
            }
        }

        .matFab {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 385px;

            .fabPhoto {
                position: absolute;
                height: 385px;
                right: 0;

                @include b768 {
                    right: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }

        .matIconbg {
            max-width: 60rem;
            margin: auto;
        }

        .matIcon {
            text-align: center;

            p {
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: .5rem;
            }
        }

        .arrowicon {
            position: absolute;
            bottom: -15px;
            right: 0;
            left: 0;
            margin: auto;
        }
    }

    .purpose {
        background: $gray;
        padding: 8rem 2rem 0;

        @include b768 {
            padding-top: 8rem;
        }

        h4 {
            color: $green;
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 420px;
            margin: auto;

            span {
                color: #fff;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 1.5rem;
            }
        }

        p {
            padding: 3rem 0;
            max-width: 520px;
            margin: auto;
            font-weight: 500;

        }

        .purposeitem {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;

            .img-fluid {
                max-width: 50%;

                @include b768 {
                    max-width: 100%;
                }
            }


            @include b768 {
                &:nth-child(odd) {
                    margin-left: 10%;
                }

                &:nth-child(even) {
                    margin-right: 10%;
                }
            }

            .purposeText {
                margin-left: 2rem;

                h5 {
                    letter-spacing: 2px;
                    font-size: 1.2rem;

                }

                p {
                    padding: .7rem 0;
                    max-width: 290px;
                    font-size: .9rem;
                }
            }

            .purposeBtn button {
                background: $green;
                color: #fff;
                border-radius: 25px;
                padding: .5rem 1rem;
                box-shadow: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .8rem;

                @include b768 {
                    font-size: 1rem;
                }

                .arrow {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-color: $yellow;
                    /* 定義圖標的顏色 */
                    mask-image: url('../image/more-arrow.svg');
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
            }
        }
    }


    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        z-index: 99;

        .footer {
            background: $green;
        }

        .footerBg {
            position: absolute;
            top: -21rem;
            width: 100%;

            img {
                width: 100%;
            }
        }

        .footerBtn {
            padding-bottom: 1rem;
            padding-top: 1rem;

            @include b768 {
                padding-bottom: 1rem;
            }

            a {
                padding: 0 .5rem;
            }
        }

        .footerLocation {
            border-bottom: 1px solid #fff;

            @include b768 {
                border: none;
            }
        }

        .footerLink {
            letter-spacing: 2px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .copyRight {
            background: $gray3;
            color: $green;
            text-align: center;
            padding: 10px;
            letter-spacing: 1px;
        }

    }