    // mixins
    @import 'mixins/breakpoint';
    @import 'mixins/color';
    * {
        letter-spacing: 0.5px!important;
      }
    .newtechnology {
        p{
            text-align: left;
        }
    }
    .principles {
        .principlesitem{
            p{
                text-align: left;
            }
        }
    }
  .YearinReview {
  .year {
      p {

          @include b768 {
              padding-top: .5rem;
              width: 160px;

          }

      }
  }
}
