.bannerAbout {
  background: linear-gradient(180deg, #004632 0%, #001A12 100%);

  .AboutSlogan {
    background: url("../image/about/cloth.png") left bottom no-repeat;
    background-size: cover;
    position: relative;
    overflow: initial;
    color: #FFF;

    @include b768 {
      background: url("../image/about/cloth.png") left 15rem no-repeat;
      background-size: 100%;
    }

  }

  .bannerText {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;

    .bannerText01 {
      padding-top: 5rem;
      z-index: 10;
      max-width: 96%;

    }

    .bannerText02 {
      padding-top: 3rem;
      margin-left: 75px;
      z-index: 10;
      max-width: 96%;

    }

    .bannerText03 {
      padding-top: 8rem;
      margin-left: 0;
      z-index: 10;
      max-width: 96%;


      @include b768 {
        margin-left: 10rem;
      }
    }

    .bannerText04 {
      position: absolute;
      bottom: 20rem;
      left: 0;
      right: 120px;
      z-index: 10;
      margin: auto;
      padding-left: 10rem;
    }


    p {
      font-size: .8rem;
      padding-top: 1rem;
    }
  }
}


.newtechnology {
  background: #D5DEE1 100%;
  padding: 4rem 0 10rem;
  position: relative;

  @include b768 {
    background: linear-gradient(90deg, #001A12 7%, #D5DEE1 7%, #D5DEE1 100%);
  }

  .new-technology {
    align-items: center;
    padding: 0 2rem;

    @include b768 {
      padding: 0;
    }

    .overviewItem {
      position: relative;
      z-index: 9;
    }
  }

  p {
    padding: .7rem 0;
    max-width: 430px;
    font-size: .9rem;
    margin: auto;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5rem;
    color: #595757;
  }

  .overviewPhoto {
    padding: 0 2rem 2rem;

    img {
      border-radius: 50%;
    }
  }
}

.AboutBn02 {
  position: absolute;
  bottom: 5rem;
  height: auto;
  width: 100%;
  z-index: 4;

  @include b768 {
    left: 0;
    bottom: 10rem;
  }
}

.AboutBn03 {
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 3;

}

.eco {
  background: linear-gradient(180deg, #001A12 0%, #004632 100%);
  padding-bottom: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
   &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -98px;
    width: 100%;
    height: 100px; // 依你半圓實際高度調整，或下方用 padding-trick
    background-image: url('../image/about/eco-top.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    pointer-events: none;
    z-index: 0;
  }

  .ecoTop {
    width: 100%;
    margin-top: -10vw;
    position: relative;
    z-index: 2;
    height: 15vw;
    object-fit: cover;
    object-position: center;

    @include b768 {
      margin-top: -125px;
      width: 100%;
      object-fit: contain;
      object-position: top;
    }

  }

  .ecoText {
    z-index: 6;
    max-width: 90%;
    padding-top: 120px;
  }

  .colth5 {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 50px;
    left: 0;
  }


}

.principles {
  background: linear-gradient(180deg, #CFE9ED 0%, #386A6E 100%);
  position: relative;
  padding-bottom: 20rem;

  .smallItems {
    display: flex;
    position: absolute;
    top: -7%;
    right: 5%;
    z-index: 9;
    align-items: center;
    flex-direction: column;

    @include b768 {
      flex-direction: row;
      align-items: flex-end;
      top: -25%;
      right: 15%;

    }
  }

  .principlesitem {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include b768 {
      flex-direction: row;
      align-items: flex-end;
    }

    .itemText {
      padding-bottom: 2rem;
      padding-right: 0;

      @include b768 {
        padding-bottom: 10rem;
        padding-right: 3rem;
      }
    }

    .itemPhoto {
      padding-bottom: 11rem;
      text-align: center;


      img {
        max-width: 90%;

        @include b768 {
          max-width: 98%;
        }
      }

    }


    p {
      font-size: .9rem;
      font-weight: 500;
      text-align: justify;
      padding-top: .5rem;
      max-width: 360px;
      line-height: 1.5rem;
      color: #595757;
    }
  }

  .colth3 {
    position: relative;
    z-index: 4;
    width: 100%;
    margin-top: -50rem;
    height: 125vw;
    object-fit: cover;
    object-position: right;


    @include b768 {
      object-fit: contain;
      object-position: top;
      height: auto;

    }
  }
}