    .contact {
      background: linear-gradient(180deg, #D5DEE1 0%, #A7AFB4 100%);
      color: $green;
      padding-top: 80px;
      overflow: hidden;
      position: relative;

      .circle {
        position: relative;

        .cloth-w {
          position: absolute;
          top: 30px;
          right: 0;
          z-index: 2;
          width: 254px;


          @include b768 {
            top: 0;
            width: auto;


          }

        }

        .circle1 {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          max-width: 40%;
        }

        .circle2 {
          position: absolute;
          right: 0;
          top: 20rem;
          z-index: 1;
          max-width: 40%;
        }
      }

      .title {
        text-align: center;
        position: relative;
        z-index: 9;
      }

      h3 {
        padding-top: 3rem;
        color: $green;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 3px;

      }

      h4 {
        color: #fff;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 3px;
        font-family: "Inter", sans-serif;
        padding-bottom: 5rem;

      }

      .contactTheme {
        text-align: center;
        flex-direction: column;
        padding-top: 5rem;
        z-index: 9;

        @include b1024 {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          text-align: left;
        }

        .contactPhoto {
          .pic1 {
            display: flex;
            justify-content: flex-end;
            margin-bottom: -5rem;
            z-index: 9;
            position: relative;
            margin-right: 10%;

            @include b768 {
              margin-right: 0;
            }
          }

          .pic2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            @include b768 {
              flex-direction: row;

            }

            img {
              margin-left: 20%;

              @include b768 {
                margin-left: 0;
              }
            }
          }
        }

        .contactText {
          padding: 1rem 0 3rem;

          @include b1024 {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
          }

          p {
            font-size: .8rem;
            margin-bottom: .5rem;
          }


          .contactInformation {
            display: flex;
            flex-direction: column;
            padding-left: 0;

            @include b768 {
              padding-left: 2rem;
            }
          }
        }
      }

      .contactFooter {
        background: url('../image/contact/cloth-w2.png') no-repeat top left;
        background-size: 100%;
        padding-top: 10rem;
        padding-bottom: 8rem;
        margin-top: -10rem;

        @include b768 {
          padding-top: 25rem;

        }

        .companyIcon {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          img {
            width: 80%;

            @include b768 {
              width: auto;

            }
          }


        }

        .nanke {
          margin-right: 20rem;
        }
      }

      .googleMap {
        position: relative;

        .mapLeft {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }