.partners {
  background: linear-gradient(180deg, #D5DEE1 0%, #9AA2A8 100%);
  padding-bottom: 30rem;
  @include b768{
  padding-bottom: 21rem;
  }

  .partnersPhoto {
    position: relative;

    .partnersBanner {
      position: relative;
      min-width: 100%;
      height: 140vw;
      object-fit: cover;
      object-position: left;

      @include b768 {
        object-fit: contain;
        object-position: top;
        height: auto;
      }
    }
  }

  .partnersTheme {
    position: relative;
    bottom: 0;
    margin-top: -18rem;
    img{
      max-width: 90%;
    }
    .partners_slogan{
      position: absolute;
      right:0;
    }
    .title{
      padding-top: 5rem;
    }

    h3 {
      font-family: "Inter", sans-serif;
      font-size: 3.5rem;
      color: #fff;
      font-weight: 400;
      @include b768{
      font-size: 6rem;
      }
    }

    p {
      background: linear-gradient(to right, white 0%, white 50%, transparent 100%);
      font-family: "Noto Sans", sans-serif;
      color: #595757;
      font-size: .8rem;
      font-weight: 300;
      letter-spacing: 2px;
      max-width: 655px;
      padding: 1rem;
      @include b768{
      padding: 1rem 4rem;
      }
    }
  }

  .partnersGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .partnersElement {
      max-width: 230px;
      margin: 1rem 0;
      @include b768{
      margin: 1rem 5rem;
      }

      h4 {
        color: $green;
        font-size: 1.1rem;
        font-weight: 600;
        padding-top: .5rem;
      }

      p {
        font-size: .8rem;
        font-weight: 400;
        color: #595757;

      }
    }

  }
}