    .product {
      background: #D5DEE1;
      padding-top: 60px;

      .productTop {
        background: url("../image/product/product-bn.png") top right no-repeat;
        min-height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include b768 {
          min-height: 640px;
        }
      }

      .productTopText {
        display: flex;
        flex-direction: column;


        img {
          margin-top: 2rem;
          max-width: 100%;
        }

      }

      .productSwiper {
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
        max-width: 815px;
        margin: auto;

        .product-swiper {
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          max-width: 200px;

          h4 {
            padding: 2rem 0 0 0;
            font-size: 1rem;
            font-weight: 500;
            color: #fff;
            text-align: center;

            span {
              display: block;
              font-size: 0.8rem;
            }
          }

        }

        .swiper {
          margin-top: 2rem;
          padding-bottom: 2rem;
        }

        .swiper-slide-active {
          p {
            background: linear-gradient(to right, rgba(0, 102, 51, 0) 0%, rgba(255, 197, 0, 0.5) 50%, rgba(0, 102, 51, 0) 100%);
            padding: 1rem 2rem;

          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          color: #fff;
        }
      }

      .productText {
        p {
          color: #595757;
          font-size: 0.8rem;
          text-align: center;
          padding: 2rem 1rem 0;
        }
      }

      .product2L3L {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 96%;
        margin: auto;

        @include b768 {
          flex-direction: row;
          align-items: flex-start;
          max-width: 900px;

        }
        .product2L {
          max-width: 90%;

        }
        .product3L {
          padding-top: 5rem;
          max-width: 90%;

          @include b768 {
            padding-top: 10rem;
          }
        }
      }

      .product_01 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .productPhoto {
          position: relative;
          max-width: 570px;

          .productText {
            position: absolute;
            bottom: 5rem;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        p {
          font-size: .8rem;
          color: #595857;
          font-weight: 600;

        }

        a {
          display: flex;
        }
      }

      .product_02 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;

        .productPhoto {
          position: relative;
          max-width: 570px;

          .productText {
            position: absolute;
            bottom: 5rem;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        p {
          font-size: .8rem;
          color: #595857;
          font-weight: 600;

        }
      }

      .product_03 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .productPhoto {
          position: relative;
          max-width: 570px;

          .productText {
            position: absolute;
            bottom: 5rem;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        .gloves {
          padding-left: 20rem;
          margin-top: -4rem;
          z-index: 9;
        }

        p {
          font-size: .8rem;
          color: #595857;
          font-weight: 600;

        }

        a {
          display: flex;
        }
      }

      .product_04 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 15rem;

        .productPhoto {
          position: relative;
          max-width: 570px;

          .productText {
            position: absolute;
            bottom: 2rem;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        p {
          font-size: .8rem;
          color: #595857;
          font-weight: 600;
        }
      }
    }

    .productSlogan {
      background: #DFE8EA;
      position: relative;
      min-height: 545px;

      .SloganText {
        position: relative;
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;

        .slogan01 {
          padding-top: 2rem;
          padding-bottom: 2rem;
          max-width: 90%;

          @include b768 {
            padding-top: 4rem;
            padding-bottom: 5rem;

          }
        }

        .slogan02 {
          padding-top: 2rem;

          @include b768 {
            padding-top: 14rem;
          }
        }

        .slogan03 {
          padding-top: 3rem;
          max-width: 90%;
        }

        .SloganText01 {
          display: flex;
          flex-direction: column;
          align-items: center;

          @include b768 {
            display: flex;
            flex-direction: row;

          }

        }
      }

      .sloganCloth {
        position: absolute;
        right: 0;
        bottom: -5rem;
        width: 100%;
        z-index: 5;
        height: 120vw;
        object-fit: cover;
        object-position: center;

        @include b768 {
          bottom: -10rem;
          object-fit: contain;
          object-position: top;
          height: auto;
        }
      }

      .sloganPeople {
        position: absolute;
        right: 8rem;
        bottom: 5rem;
        z-index: 5;
      }
    }

    .functionText {
      background: url("../image/product/productBg.svg") top center no-repeat;
      background-size: 380vw;
      min-height: 190px;
      z-index: 9;
      position: relative;
      margin-top: -5rem;

      @include b768 {
        background-size: 100%;
      }

      p {
        color: #595757;
        font-size: .8rem;
        text-align: center;
        padding-top: 3rem;
        line-height: 1.5rem;
      }
    }

    .function {
      background: #D5DEE1;
      position: relative;
      z-index: 10;
      padding-bottom: 0rem;

      @include b768 {
        padding-bottom: 5rem;
      }

      .functionGroup {

        .functionSwiper {
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
          max-width: 815px;
          margin: auto;

          .function-swiper {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            max-width: 200px;

            h4 {
              padding: 2rem 0 0 0;
              font-size: 1.5rem;
              font-weight: 300;
              color: $green;
              text-align: center;
            }


            p {
              font-size: 1rem;
              color: #fff;
            }

          }

          .swiper {
            padding-bottom: 2rem;
          }


          .swiper-button-prev,
          .swiper-button-next {
            color: #fff;
          }
        }

        .slogan04 {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          padding-top: 3rem;
          justify-content: center;

          img {
            max-width: 90%;
          }

          p {
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
            color: #fff;
            padding: 1rem 2rem;
            margin: 2rem 0;
            line-height: 1.8rem;
            text-align: center;

            @include b768 {
              padding: 2rem 5rem;
            }
          }
        }
      }
    }

    .productFooter {
      background: #D5DEE1;
      padding-bottom: 20rem;

      @include b768 {
        padding-bottom: 0;
      }

      img {
        width: 100%;
        height: 90vw;
        object-fit: cover;
        object-position: center;

        @include b768 {
          object-fit: contain;
          object-position: top;
          height: auto;
        }
      }
    }