.responsibility {
  background: linear-gradient(180deg, #004632, #001A12);
  position: relative;
  padding: 120px 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  @include b768{
  padding: 80px 0 0;
  }

  .container {
    max-width: 1280px;
    padding: 0;
  }

  h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
  }

  h4 {
    color: #fff;
    font-size:1.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    @include b768{
    font-size: 3rem;
    }
  }

  .responsibility-swiper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 350px;

    h4 {
      padding: 2rem 0 0 0;
      font-size: 1.2rem;
      font-weight: 500;
    }

    p {
      margin: .8rem auto;
      font-size: .9rem;
      max-width: 35rem;
      color: #fff;
      @include b768{
      font-size: .8rem;
      }
    }
  }

  .swiper {
    margin-top: 2rem;
    padding-bottom: 4rem;
  }

  .swiper-slide-active {
    p {
      background: linear-gradient(to right, rgba(0, 102, 51, 0) 0%,rgba(255, 197, 0, 0.5) 20%, rgba(255, 197, 0, 0.5) 80%, rgba(0, 102, 51, 0) 100%);
      padding: 1rem 2rem;

    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    top:20%;
    @include b768{
      top:25%;
    }
  }
}

.values {
  background: #D5DEE1;
  padding-bottom: 21rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
  &::before {
  content: "";
  position: absolute;
  left: 0;
  top: -60px;
  width: 100%;
  height: 130px;
  background-image: url("../image/responsibility/valuesBg.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 250%;
  pointer-events: none;
  z-index: 0;
}

  h3 {
    color: $green;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
    z-index: 9;
  }

  h4 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    text-align: center;    
    margin: 0.8rem 0;
    @include b768{
    font-size: 3rem;
    z-index: 9;
    letter-spacing: 2px;        
    margin:0 0 0.8rem 0;

    }
  }

  .actionGroup {
    padding-bottom: 10rem;
    padding: 1rem 3rem 10rem 3rem;
    max-width: 100%;

    @include b768{
    padding: 2rem 0 1rem 0;
    max-width: 980px;
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 3rem;

    &:nth-child(even) {
      flex-direction: column;
    }

    @include b768 {
      flex-direction: row;
      margin: 5rem 0;


      &:nth-child(even) {
        flex-direction: row-reverse;
        justify-content: end;

        .actionText {
          background: linear-gradient(180deg, #FFF, rgba(0, 0, 0, 0));
      @include b768{
      background: linear-gradient(90deg,rgba(0, 0, 0, 0), #FFF);
      }


        }

      }
    }


    .actionText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      background: linear-gradient(180deg,rgba(0, 0, 0, 0), #FFF);
      @include b768{
      background: linear-gradient(90deg,rgba(0, 0, 0, 0), #FFF);
      }


      h4 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        color: $green;
        font-size: 1.1rem;
        text-align: left;

        span {
          display: block;
          font-family: "Noto Sans TC", sans-serif;
          font-weight: 300;
          padding-top: 0.3rem;
          @include b768{
            padding-top:0;
          }
        }
      }

      p {
        color: #595757;
        font-size: .9rem;
        text-align: justify;
        line-height: 1.2rem;
        @include b768{
        font-size: .7rem;
        }
      }
    }
  }
}