.bannerTechs {
  position: relative;
  overflow: hidden;
  background: #D5DEE1;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    padding-top:60px;

    @include b768 {
      width: 100%;
      object-fit: contain;
      object-position: top;

    }
  }

  .bannerText {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include b768 {
      bottom: 4rem;
      flex-direction: row;

    }

    img {
      max-width: 100%;

    }

    .b-left {
      max-width: 380px;
      height: auto;
    }

    .b-right {
      max-width: 645px;
      margin-left: 3rem;
      height: auto;

    }
  }
}


.technologies {
  background: linear-gradient(180deg, #D5DEE1 10%, #C8D0D4 100%);
  padding: 5rem 4rem;

  .techsTheme {
    text-align: center;

    p {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 2px;
      text-align: justify;
      color: #fff;
      margin-top: 2rem;

      @include b768 {
        text-align: center;
      }

    }
  }

}

.features {
  background: linear-gradient(180deg, #DCE6E8 60%, #90AFA9 100%);
  padding-bottom: 0;

  @include b768 {
    padding-bottom: 8rem;

  }

  .featuresTitle {
    background: url("../image/technolgy/fearures.svg")top right no-repeat;
    background-size: 100%;
    height: 300px;

    @include b768 {
      background: url("../image/technolgy/fearures.svg")bottom right no-repeat;
      background-size: 100%;

    }

    .adventures {
      margin-left: 0;
      max-width: 90%;

      @include b768 {
        margin-left: 10rem;
      }
    }

    h4 {
      color: $green;
      font-size: 2.5rem;
      font-weight: 200;
      padding-top: 4rem;
      letter-spacing:5px;
    }

    span {
      display: block;
      font-size: 2.5rem;
      font-weight: 450;
      padding-bottom: .5rem;
      letter-spacing: 6px;
    }
  }

  .applicationText {
    justify-content: center;
    max-width: 1100px;
    margin: auto;

    .techItem {
      display: flex;
      flex-direction: column;
      align-items: center;

      .techItemText {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 250px;

        h5 {
          color: $green;
          font-weight: 400;
          font-size: 1.5rem;
          padding-top: 1rem;
        }

        p {
          color: #9B9B9C;
          font-size: 1rem;
          padding-top: 1rem;
          text-align: center;
          font-weight: 400;

        }
      }
    }
  }
}

.technologiesFooter {
  background: #90AFA9;
  width: 100%;
  padding-bottom: 40vh;
  @include b768 {
    padding-bottom: 0;
  }

  img {
    width: 100%;
    height: 50vw; 
    object-fit: cover;
    object-position: center;
    

    @include b768 {
      width: 100%;
      object-fit: contain;
      object-position: top;
    }
  }
}